.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(#44189a, #6426dd);
  padding-bottom: 3rem;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
}

nav {
  display: flex;
  padding: 10px 0;
  color: white;
  justify-content: space-between;
  align-items: center;
}

.navLogo {
  font-weight: 500;
  font-size: 1.2em;
  cursor: pointer;
}

.ed {
  color: #fae0b1;
}

.navLinks {
  width: 100%;
  text-align: left;
  padding-left: 10%;
  cursor: pointer;
}

.navLinks ul {
  list-style: none;
  display: flex;
}

.navLinks li {
  margin: auto 0.8rem;
}

.navLinks li:hover {
  color: #fae0b1;
}

.navButton button {
  background-color: white;
  color: #6426dd;
  text-transform: uppercase;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  gap: 4rem;
  padding: 1rem 0;
}

.heroText {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  color: white;
}

.heroIcon {
  position: relative;
  top: 1px;
}

.heroImage {
  padding-right: 2rem;
}

.heroImage img {
  width: 80%;
}

.heroBgCircle img {
  position: absolute;
  width: 30%;
  z-index: 1;
  top: 25%;
  left: -12%;
}

@media screen and (max-width: 1600px) {
  .heroBgCircle img {
    top: 35%;
  }
}
