.footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #d8c9f7;
  background-image: linear-gradient(#6426dd, #44189a);
  padding: 3.5rem 2rem 1.5rem 2rem;
  clip-path: polygon(0 40%, 100% 0, 100% 100%, 0% 100%);
}

.footerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footerLogo {
  font-weight: 500;
  font-size: 1.2em;
  cursor: pointer;
}

.ed {
  color: #fae0b1;
}

.footerCopyright {
  font-family: 'Inconsolata', monospace;
  font-size: 0.9em;
}

.icon {
  font-size: 1.8em;
  margin: 0px 10px;
  cursor: pointer;
}

.icon:hover {
  color: white;
}
