* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
a:hover,
a:visited {
  text-decoration: none;
  color: white;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

img {
  width: 100%;
}

h1 {
  font-size: 2rem;
}

p {
  margin: 20px 0px;
  text-align: justify;
}

button {
  padding: 10px 20px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1.5px;
}

#container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#about-and-content-container-bg {
  width: 100%;
  display: flex;
  justify-content: center;
  background-image: url('../src/assets/img-about-contact-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
}

#about-and-content-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10rem;
  padding: 1rem 0 3rem 0;
}

/* global classes */

.width-restrainer {
  width: 96%;
  max-width: 1200px;
}

.light-white {
  color: #d8c9f7;
}

.strong-purple {
  color: #4d1cb0;
}

.ed {
  color: #fae0b1;
}

.ed-strong {
  color: #f3b43f;
}

.ed-green {
  color: #00fbff;
}

.btn-green {
  width: 150px;
  background-color: #00dadc;
  z-index: 2;
  text-transform: uppercase;
  color: #404040;
}

.btn-green:hover {
  background-color: #00fbff;
}

.btn-yellow {
  min-width: 150px;
  background-color: #f3b43f;
  color: #404040;
  padding: 15px 30px;
  text-transform: uppercase;
}

.btn-yellow:hover {
  background-color: #00fbff;
}

/* Forms */

input[type='text'],
input[type='email'],
select,
textarea {
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 16px;
  resize: vertical;
  font-family: 'Inconsolata', monospace;
  font-size: 1em;
  font-weight: 300;
  color: #404040;
  box-shadow: 0px 0px 50px #ebebf9;
}

.container {
  margin-top: 20px;
  border-radius: 10px;
}

.container label {
  display: none;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #999;
  font-size: 0.7em;
  top: 9px;
  left: 20px;
  background-color: white;
  padding: 0px 5px;
}

textarea#subject {
  height: 160px;
}

/* Temporary */

.mt {
  cursor: pointer;
  color: white;
  border-bottom: 7px solid #00dadc;
}

.mt-inactive {
  color: #a07aeb;
  border-bottom: none;
}

.mt-inactive:hover {
  color: #00fbff;
}

.mt-hide {
  display: none;
}
